:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #298051;
  --text-primary-color: #375d3a;
  --selection-color: #fbfbfb;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Titillium Web', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.background-primary {
  background-color: #709c6b;
}
/* Color */
.color-white{
    color: white;
}

/* Font-weight */
.font-700{
    font-size: 700;
} 
.font-600{
    font-size: 600px;
}

/* FontSize */
.text-48{
    font-size: 48px;
    line-height: 48px;

}
.text-36{
    font-size: 36px;
    line-height: 36px;

}
.text-32{
    font-size: 32px;
    line-height: 32px;
}

/* Line height */
.leading-73{
    line-height: 73px;
}


